.container {
  padding: 0;
}
.blue_box{
  background-color: var(--cta);
  height: 380px;
}
.content{
  width: 80%;
  border-radius: 4px;
  margin: auto;
  position: relative;
  top:-100px;
  background-color: var(--white);
  box-shadow: 0px 2.0px 4.0px hsl(0deg 0% 0% / 0.38);
  padding: 1rem;
}
.section_container{
  display: flex;
  margin: 0  auto;
  gap:1rem;
  flex-wrap: wrap;
  width: fit-content;
}